.main-container {
  width: 90%;
  margin: 20px auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.flex-container img {
  display: block;
  width: 200px;
}

.img-price {
  align-self: center;
  font-size: 1.5rem;
}

.total-price {
  display: flex;
  height: 100px;
  justify-content: flex-end;
}

.total-price p {
  font-size: 1.6rem;
}

.message-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* ========
Animation adn overlay of an image
=========== */
.image-container {
  position: relative;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.image-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
  color: white;

  transition: opacity 0.3s ease;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-overlay:hover {
  opacity: 1;
}

.button {
  transition: opacity 0.35s ease;
  border: 1px solid white;
  padding: 5px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
