.card {
  /* Add shadows to create the "card" effect */

  width: fit-content;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-bottom: 1px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

/* Add some padding inside the card container */
.card-bottom {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 2px 5px;
}

.icon i:hover {
  cursor: pointer;
  opacity: 0.8;
}
